<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-col>
      <ion-row >
        <ion-item>
          <ion-input label="Introduzca su nombre"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row >
        <ion-item>
          <ion-input label="Introduzca su apellido"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row >
        <ion-item>
          <ion-input label="Introduzca su edads"></ion-input>
        </ion-item>
      </ion-row>
    </ion-col>
  </ion-grid>

<ion-button [routerLink]= "['/home']"> Añadir </ion-button>

</ion-content>
