<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-button [routerLink]= "['/data-collector']"> Añadir </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let person of people">
        <app-personal-card
        [name]="person.name"
        [surname]="person.surname"
        [age]="person.age">
        </app-personal-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
